@mixin inSearchFonts {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 26px;
}

.search__container {
  background: $primary-color;
  border-radius: 20px;
  height: 122px;
  width: 100%;
  padding: 0 2rem;
  display: grid;
  place-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    padding: 1rem 0;
  }

  .search__container--search {
    display: flex;
    align-items: center;
    input {
      background: $auxiliary-color;
      width: 642px;
      height: 74px;
      padding-left: 1rem;
      border: none;
      outline: none;
      @include inSearchFonts;
      color: $secondary-color;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .search__container--action {
    button {
      background: $secondary-color;
      border: none;
      width: 110px;
      height: 74px;
      cursor: pointer;
      @include inSearchFonts;
      color: $primary-color;
    }
  }
}
